body{
  background: #D8DBE2;
}

.main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
    border: 2px solid #58A4B0;
  }

  h2{
    margin-left: 200px; 
    font-size: 30px;
    padding: 0px 10px;
  }

  .main h2, .main h3, h2{
    text-align: center;
  }

  .col1, .col2, .col3, .col4{
    padding-top: 50px;
    padding: 25px;
  }

  .col2 ul{
    margin-top: 0;
  }

  .col3 h3{
    margin-top: 0;
  }

  .col1 p{
    border: 2px solid #58A4B0;
    padding: 10px;
  }

  .col1 img {
    width: 450px;
    height: 300px;
  }

  .col3 ul{
    border: 2px solid #58A4B0;
    padding: 30px;
  }
  

  @media(min-width: 768px){
    .flex-container{
        display: flex;
        
    }

    .col1, .col2, .col3, .col4{
        flex: 1;
    }

}




