.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }



  .main h2, .main h3{
    text-align: center;
  }

  .col1, .col2, .col3, .col4{
    text-align: center;
    padding-top: 50px;
  }

  .col1, .col2, .col3{
    border-right: 2px solid gray;
  }

  
  @media(min-width: 768px){
    .flex-container{
        display: flex;
        
    }

    .col1, .col2, .col3, .col4{
        flex: 1;
    }
   

}