body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #5A3BEB;
    line-height: 1.6;
}

#content {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#main-header{
    text-align: center;
}
h1, h2 {
    color: #000000;
    text-align: center;
}
p {
    color: #000000;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .row2col1, .row2col2, .row2col3, .row2col4, .row2col5, .row2col6, .row2col7{
    background-color: #6c80e0;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    text-align: center;
}

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img, .col13 img, .col14 img, .col15 img, .row2col1 img, .row2col2 img, .row2col3 img, .row2col4 img, .row2col5 img, .row2col6 img,.row2col7 img{
    width: 300px;
    height: 150px;
}



@media (min-width: 900px) {
    .flex-container {
        display: flex;
    }

    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .row2col1, .row2col2, .row2col3, .row2col4, .row2col5, .row2col6, .row2col7{
        flex: 1;
    }
}