
  .active {
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: #373F51;
    padding-left: 8px;
  }
  
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #373F51;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #DAA49A;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }


  @media screen and (max-width: 768px) {
    .sidenav {
      display: none;
    }
  }
  