body{
  background: #D8DBE2;
}
img{
  height: auto;
  width: 300px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #A9BCD0;
  }

  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }

  .title{
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
    text-align: center;
  }

* {
  box-sizing: border-box;
}

.topnav .dropdown-btn {
  background: none;
  border: none;
  color: #f2f2f2;
  padding: 14px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.topnav .dropdown-container a {
  padding-left: 20px;
}


#add-link {
font-size: 25px;
text-decoration: none; 
color: rgb(255, 0, 0); 
padding: 5px; 
border-radius: 25%; 
transition: background-color 0.3s, color 0.3s; 
}

#add-link:hover {
background-color: rgb(0, 250, 71); 
color: white; 
}

header {
text-align: center;
padding: 32px;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

#column1 img {
max-width: 100%; 
max-height: 600px; 
width: auto; 
height: auto; 
}


.column{
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}


body h1{
  text-align: center;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #c8c8c8;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  transform: translateX(100px);
}

.modal-content img{
  width: 100%;
  padding: 20px;
}

form img{
  max-width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-flex-container {
  display: flex;
  
}

.modal-img-container {
  flex: 1;
  min-width: 200px;
}

.modal-text-container {
  flex: 2;
  min-width: 300px;
}

.flex-container{
display: flex;
}


@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}