body{
  background: #D8DBE2;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #A9BCD0;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .main h2, .main h3{
    text-align: center;
  }